.section{
    color: white;
    margin-left: -40px;
    background-color: #BF3535;
    width: auto;
    height: 102.32px;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}