.ls-pink{
    border-radius: 15px 15px 0 0;
    color: white;
    background-color: #FF939A;
    height: 102.32px;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}