.pink-food {
    width: 387px;
    height: 120px;
    background: linear-gradient(90deg, #FF939A 44.3%, rgba(255, 255, 255, 0) 100%);
    border-radius: 25px 0 0 25px;
    border: 3px solid #FF939A;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pf-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pink-add {
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 8px;
    font-size: 24px;
    font-weight: 800;
    background-color: #FF939A;
    color: white;
    border-radius: 13px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}