.name{
    width: 250px;
    height: 65px;
    padding-top: 2px;
}
.titulo{
    font-size: 22px;
    font-weight: 800;
}
.descripcion{
    padding-top: 2px;
    font-size: 18px;
    font-weight: -100;
    opacity: 0.8;
}