.left-container {
    background-color: #BF3535;
    width: 203px;
    height: 650px;
    border-radius: 15px;
}

.ls-red {
    color: white;
    background-color: #BF3535;
    width: 203px;
    height: 102.32px;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ls-red:hover {
    background-color: #FF939A;
    color: black;
}