.nav-menu {
    margin: 0 70px 0 70px;
    display: flex;
    align-items: center;
}

.nv-pink {
    padding: 10px;
    border-radius: 15px;
    margin-right: 30px;
    width: 150px;
    text-align: center;
    background-color: #FF939A;
}

.nv-red {
    padding: 10px;
    border-radius: 15px;
    margin-right: 30px;
    width: 150px;
    text-align: center;
    background-color: #BF3535;
}